$theme-color-green: #07C160;
$theme-color-yellow: #ffd31a;

//主要色彩
$color-primary: #ee393c; //主色彩
$color-pink: #ff645d;
$color-green: #00bd86;
$color-gold: #dcaa6c;
$color-blue: #3b98ff;
$color-red: #ee393c;
$color-2: #222222;
$color-3: #333333;
$color-4: #444444;
$color-6: #666666;
$color-7: #777777;
$color-8: #888888;
$color-9: #999999;
$color-A: #aaaaaa;
$color-B: #bbbbbb;
$color-E: #eeeeee;