.statistics{
  background-color: #fff;
  padding: .32rem .28rem;
  font-size: 0;
  border-radius: .08rem;
  h3{
    font-size: .24rem;
    color: $color-9;
    margin-top: 0;
    margin-bottom: .32rem;
    font-weight: 500;
  }
  .statisOutcome{
    display: flex;
    h2{
      flex: 1;
      font-size: .68rem;
      color: $color-4;
      line-height: .68rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: .24rem;
    }
    span{
      width: .84rem;
      height: .84rem;
      line-height: .84rem;
      color: $color-9;
      border-radius: 50%;
      text-align: center;
      //margin-top: auto;
      margin-bottom: auto;
      overflow: hidden;
    }
  }
  .statisIncome{
    font-size: .24rem;
    color: $color-9;
    display: flex;
    p{
      &:last-child{
        margin-left: auto;
      }
      span{
        margin-left: .08rem;
        font-size: .28rem;
        color: $color-6;
        font-weight: 650;
      }
    }
  }
  .statisChart{
    text-align: center;
    color: $theme-color-green;
    font-size: .26rem;
    padding: .20rem  0 ;
  }
}